<!--TODO: create company page-->

<template/>

<script>
  export default {
    data() {
      return {
        company: {
          photos: [],
        },
      };
    },
    created() {
      this.fetchCompany(this.$route.params.id);
    },
    methods: {
      fetchCompany(id) {
        this.$http.get(`/companies/${id}`)
          .then((response) => {
            this.company = response.data.data;
          })
          .catch((error) => {
            console.log('error');
        });
      },
    },
  };
</script>

<style lang="scss">

</style>
