<template>
  <article class="new-comment media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img
          class="is-circle"
          src="https://bulma.io/images/placeholders/128x128.png">
      </p>
    </figure>
    <div class="media-content">
      <b-field
        :type="errors.has('comment_text') ? 'is-danger' : ''"
        :message="errors.has('comment_text') ? errors.first('comment_text') : ''">
        <b-input
          v-autosize
          v-validate="'max:2000'"
          v-model="comment.text"
          name="comment_text"
          type="textarea"
          maxlength="2000"
          placeholder="Напишите комментарий и нажмите ⌘ + Enter, чтобы отправить"
          @keydown.enter.native="addCommentByShortcut"
          @blur="errors.clear()"/>
      </b-field>
      <a
        :class="isLoading ? 'is-loading' : ''"
        :disabled="$_.isEmpty(comment.text)"
        class="button is-info send-button"
        @click="addComment">
        Отправить
      </a>
    </div>
  </article>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    props: {
      commentableId: {
        type: Number,
        required: true,
      },
      commentable: {
        type: Object,
        required: true,
      },
    },
    data() {
      return {
        isLoading: false,
        comment: {
          text: '',
        },
      };
    },
    computed: {
      ...mapGetters(['authHeaders', 'userOS']),
    },
    methods: {
      addComment() {
        if (this.comment.text.length > 0) {
          this.isLoading = true;
          this.$http.post(`/${this.commentable}/${this.commentableId}/comments`, this.comment, { headers: this.authHeaders })
            .then(() => {
              this.$emit('commentCreated');
              this.isLoading = false;
              this.comment.text = '';
              console.log('comment created');
            })
            .catch(() => {
              this.isLoading = false;
              console.log('error!');
          });
        }
      },
      addCommentByShortcut(event) {
        if (this.userOS === 'MacOS') {
          if (event.metaKey) {
            this.addComment();
          }
        } else if (event.ctrlKey) {
          this.addComment();
        }
      },
    },
  };
</script>

<style lang="scss" scoped>
  .media-content {
    position: relative !important;
  }

  .send-button {
    position: absolute;
    bottom: 45px;
    left: calc(100% - 122px);
  }
</style>

<style lang="scss">
  .new-comment {
    .textarea {
      padding-bottom: 60px !important;
    }

    .control {
      padding: 2px;
    }
  }
</style>
