<template>
  <div class="comments">
    <strong>{{ comments.length }} {{ comments.length | pluralize }}</strong>
    <hr class="line">
    <div
      v-for="comment in comments"
      :key="comment.id"
      class="comment">
      <d-comment-item :comment="comment"/>
    </div>
    <d-comment-form
      :commentable-id="commentableId"
      :commentable="commentable"
      @commentCreated="$emit('commentCreated')"/>
  </div>
</template>

<script>
  import smartPlurals from 'smart-plurals';
  import CommentForm from './CommentForm';
  import CommentItem from './CommentItem';

  const russian = smartPlurals.Plurals.getRule('ru');
  const dict = ['комментарий', 'комментария', 'комментариев'];

  export default {
    filters: {
      pluralize(value) {
        return russian(value, dict);
      },
    },
    components: {
      'd-comment-form': CommentForm,
      'd-comment-item': CommentItem,
    },
    props: {
      comments: {
        type: Array,
        required: true,
      },
      commentableId: {
        type: Number,
        required: true,
      },
      commentable: {
        type: Object,
        required: true,
      },
    },
    data() {
      return {
        showReplyForm: false,
      };
    },
    methods: {},
  };
</script>

<style lang="scss" scoped>
  .line {
    margin: 0.5rem 0 0.85rem 0;
    height: 2px;
  }

  .comment {
    margin-bottom: 1rem;
  }
</style>
