<template>
  <div>
    <b-input
      v-if="isActive"
      ref="search"
      v-model="query"
      class="search-input"
      placeholder="Что ищем?"
      @blur="hideSearchField"
      @keyup.native.enter="search"/>
    <a
      v-if="!isActive"
      class="has-text-black"
      @click="showSearchField">
      <b-icon
        icon="search"
        type="is-black"
        size="is-small"/>
      <span class="search-text">{{ label }}</span>
    </a>
  </div>
</template>

<script>
  export default {
    props: ['label'],
    data() {
      return {
        query: '',
        isActive: false,
      };
    },
    methods: {
      showSearchField() {
        this.isActive = !this.isActive;
        this.$nextTick(() => this.$refs.search.focus());
      },
      hideSearchField() {
        this.isActive = !this.isActive;
      },
      search() {
        // TODO: add search
      },
    },
  };
</script>

<style>
  .search-input {
    width: 350px;
  }

  .search-text {
    margin-left: 8px;
  }
</style>
